.listItem {
  margin: 5px;
  padding: 10px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.buttons button {
  height: 40px;
  width: 60px;
  border-radius: 5px;
  margin: 5px;
  border: none;
}
.listItem button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.listItem button:active {
  cursor: pointer;
  transform: scale(0.99);
}
.doneFont {
  text-decoration: line-through;
}

.buttons {
  display: flex;
  width: 30%;
}

.doneButton {
  background-color: green;
}
.redoButton {
  background-color: orange;
}
.deleteButton {
  background-color: red;
}
